.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two equal columns */
.column2 {
  flex: 50%;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column2 {
    flex: 100%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

* {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
  }

.input-section {
  background-color: #88CCF1;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0px;
}

.image-container {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #C1DFF0;
  padding: 0px;
}